<section class="block block-supporters-1" 
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
  <div class="container">
      <h2>News Foundry Sponsors</h2>
      <h3>Community Champions</h3>
      <img src="/uploads/logos-lenfest.png" />
      <img src="/uploads/logos-lenfest.png" />
      <img src="/uploads/logos-lenfest.png" />
      <h3>Knowledge Mobilizers</h3>
      <img src="/uploads/logos-lenfest.png" />
      <img src="/uploads/logos-lenfest.png" />
      <img src="/uploads/logos-lenfest.png" />
  </div>
</section>
