<section class="block block-schedule-1" 
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
<h2>News Foundry Schedule</h2>
  <div class="container">
      <p>All sessions will take place at The Philadelphia Inquirer at 801 Market St., Suite 300 in Philadelphia
      </p>
    <div class="columns">
      <div class="column">
          <dl>
          <dt>Friday, November 16</dt>
              <dd>Reception & speed demonstrations</dd>
              <dd>Idea pitching, voting, and team formation</dd>
          </dl>
      </div>
      <div class="column">
          <dl>
          <dt>Saturday, November 17</dt>
              <dd>Full day of business model validation, coaching & experiments</dd>
          </dl>
      </div>
      <div class="column">
          <dl>
          <dt>Sunday, November 18</dt>
          <dd>Coaching, pitch deck preparation, and pitch practice</dd>
          <dd>Team presentations and feedback from judges</dd>
          <dd>After party</dd>
          </dl>
      </div>
    </div>
  </div>
</section>
