<section class="block block-two-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>What to expect</h3>

        <p class="lead">Arrive with passion and leave with a well-tested business model, a pitch deck, and the roadmap of where to go next to launch a new local journalism initiative.</p>

        <p>News Foundry is a three-day, high-intensity workshop that provides people working in journalism the skills to start building a viable business. Drawing from the Lean Startup movement, the event teaches effective ideation, business model validation through customer interviews, and how to run small experiments that can be done in a weekend.</p>

        <p>As a participant in News Foundry, you’ll receive expert coaching from other journalism entrepreneurs. You’ll talk to real customers about their information needs. And you’ll present your business plan to a panel of industry experts for candid feedback.</p>

        <p>Put simply: You will forge a new local journalism business plan in the fires of coaching, mentorship, customer validation, and rapid iteration. You’ll leave ready to take the next step.</p>
      </div>
      <div class="column">
        <h3>The opportunity</h3>
        <p class="lead">The business of local journalism is ripe for reinvention.</p>
        <p>It has never been easier to start a business: the costs to publish and promote content have dropped to the point of being in reach to many people. The stories of successful digital upstarts are everywhere around us. Audience are looking for new voices to trust.</p>
        <p>Yes, it’s true that a handful of companies beholden to hedge fund owners have gutted local newsrooms across the U.S. and Canada, leaving us with nations full of “news deserts.” It’s also true that more and more of what some news companies call “local news” is simply wire stories and rewrites of press releases. And yet it’s within our power try to fix these problems.</p>
        <p>The time for disruption is now. Local news and information is desperately needed. This is a market opportunity for the wildly aspirational journalism entrepreneurs who are willing to take a shot at displacing the incumbents.</p>
        <p>It’s happening all over the world. Are you ready to be a part of the movement?</p>
      </div>           
    </div>
  </div>
</section>
